{{> menu}}

<section class="ui grid">
    <div class="ui raised segment five wide centered column">
        <form action="/login" method="post" class="ui form">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" />
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password" />
            </div>
            <input type="submit" class="ui primary button" value="Login" />
        </form>
    </div>
</section>