{{> menu username=user.username}}
<section class="ui grid">
    <div class="ui four wide column">
        {{> usercard}}
    </div>
    <div class="ui twelve wide column">
        <div class="ui segments">
            {{> subtitle icon='lock' subtitle='Passwort Change' }}

            <div class="ui segment">
                <form method="post" class="ui form">
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Password" />
                    </div>
                    <div class="field">
                        <label>Password (repeated)</label>
                        <input type="password" name="passwordConfirm" placeholder="Password (repeated)" />
                    </div>
                    <input type="submit" value="Save Changes" class="ui primary button" />
                </form>
            </div>
        </div>
    </div>
</section>