{{> menu username=loggedInUser}}

<section class="ui grid">
    <div class="ui four wide column">
        {{> usercard}}
    </div>
    <div class="ui twelve wide column">
        <div class="ui segments">
            {{> subtitle }}
            {{#if isHome}}
                <article class="ui segment">
                    <form class="ui form" method="post">
                        <textarea rows="3" placeholder="Tweet..." maxlength="140" name="text"></textarea>
                        <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
                            <button class="ui orange right labeled icon button">
                                Submit
                                <i class="send outline icon"></i>
                            </button>
                        </div>
                    </form>
                </article>
            {{/if}}

            {{> tweets}}
        </div>
    </div>
</section>